@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  background-image: url('https://th.bing.com/th/id/R.8f18580a28f30133838cf47dd043bb30?rik=V0f2h3LYRb%2bCsQ&pid=ImgRaw&r=0');
  background-size: cover;
  height: 100%;
}
body { margin: 0; font-family:Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: "the-legend-of-zelda";
  src: url(./assets/fonts/the-wild-breath-of-zelda.otf) format("opentype");
}

@font-face {
  font-family: "minishcap";
  src: url(./assets/fonts/minishcap.otf) format("opentype");
}
