@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  background-image: url('https://i.imgur.com/dcz0OuH.jpg');
  background-size: cover;
  height: 100%;
}
body { margin: 0; font-family:Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: "the-leyend-of-zelda";
  src: url(./assets/fonts/the-wild-breath-of-zelda.otf) format("opentype");
}

@font-face {
  font-family: "minishcap";
  src: url(./assets/fonts/minishcap.otf) format("opentype");
}
