.card-zelda-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-nintendo {
  max-width: 35%;
  max-height: 50%;
  height: auto;
  width: auto;
}

mat-card-title {
  font-size: 30px;
}

p {
  font-size: 18px;
}

.text {
  font-family: "minishcap", sans-serif;
}

 .card {
  width: 30%;
  margin: 0 5px 5px 0;
  box-sizing: border-box;
  padding: 10px;
}

.custom-paginator {
  display: flex;
  justify-content: center;
}

::ng-deep pagination-template span {
  color: white;
}

::ng-deep pagination-template a.ng-star-inserted {
  color: white;
}

.custom-paginator pagination-controls ::ng-deep .ngx-pagination .current {
  background: green;
  color: black
}
