<mat-form-field appearance="fill">
  <mat-label>Options: </mat-label>
  <mat-select name="mySelect" [(ngModel)]="option" (selectionChange)="addData()">
    <mat-option [value]="query" *ngFor="let query of queryTypes" > {{ query }} </mat-option>
  </mat-select> <br> <br>
</mat-form-field>
<div class="card-zelda-list">
  <mat-card class="card"  *ngFor="let item of data | paginate: { itemsPerPage: 3, currentPage: page }">
    <mat-card-header>
      <mat-card-title class="text">{{ item.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br>
      <p class="text"> {{ item.description }} </p>
      <p class="text" *ngIf="item.publisher == 'Nintendo'"> <b> Publisher: </b>
        <img src="../../assets/Nintendo-Logo.png" class="image-nintendo">
      </p>
    </mat-card-content>
    <mat-card-footer>
      <small *ngIf="option == 'games'" class="text-muted">Published: {{ item.released_date }} </small>
      <small *ngIf="option != 'games'" class="text-muted"> Finished </small>
    </mat-card-footer>
  </mat-card>
</div>

<br> <br>
<div class="custom-paginator">
  <pagination-controls  (pageChange)=" page = $event " previousLabel="Previous" nextLabel="Next"></pagination-controls>
</div>


